<div class="container">
    <h1>My personal Home Page</h1>
    <p>Do you want to know more about me?</p>
    <a href=" /about">About us<br></a>
    <%= link_to "About us, anything you want", about_path %>
</div>