<div class="container">
    <h1>My personal Home Page</h1>
    <p>Do you want to know more about me?</p>
    <p>
        <%= link_to "About us, anything you want", about_path %>
    </p>
    <%= link_to "Post: Click here!", posts_path %>
</div>